{%- if page.layout == "home" -%}
  <header class="site-header home-header">
    <div class="wrapper">
      <h1 class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</h1>
      <span>{{ site.subtitle }}</span>
    </div>
  </header>
{%- else -%}
  <header class="site-header">
    <div class="wrapper">
      <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }} <span>{{ site.subtitle }}</span></a>
    </div>
  </header>
{%- endif -%}
