---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li class="post-preview">
        <a class="post-link" href="{{ post.url | relative_url }}">
          <header class="post-mask">
            <figure style="background-image: url('{{ site.baseurl }}/{{ post.image }}')"/>
          </header>
          <div class="post-sumup">
            <h2 class="post-title">{{ post.title | escape }}</h2>
            {% if post.date %}
              <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: site.date_format }}</time>
            {%- endif -%}
            {%- if site.show_excerpts -%}
              {%- if post.sumup -%}
                <div class="post-excerpt"><p>{{ post.sumup }}</p></div>
              {%- else -%}
                <div class="post-excerpt">{{ post.excerpt }}</div>
              {%- endif -%}
            {%- endif -%}
          </div>
        </a>
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>
