$font-family-base: Lato, 'Helvetica Neue', Helvetica, sans-serif !default;
$font-family-monospace: 'Roboto Mono', 'Lucida Sans Typewriter', 'Lucida Console', monaco, Courrier, monospace !default;
$font-size-monospace: 0.85em !default;
$body-color: rgba(0, 0, 0, 0.75) !default;
$code-background-color: rgba(0, 0, 0, 0.05) !default;
$line-height-base: 1.67 !default;
$line-height-title: 1.33 !default;
$selection-highlighting-color: #ff9632 !default;
$link-color: #0c93e4 !default;
$hr-color: rgba(128, 128, 128, 0.33) !default;
$border-radius-base: 3px !default;
